@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: #ffe6f2;
    color: #ff66b2;
}

.start-page, .choose-page, .birthday-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 30px;
    animation: blink 1s infinite alternate;
}

@keyframes blink {
    0% { color: #ff66b2; }
    100% { color: #ff99cc; }
}

.open-btn, .btn {
    font-size: 18px;
    padding: 15px;
    background-color: #ff66b2;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    transition: transform 0.2s;
}

.open-btn:hover, .btn:hover {
    transform: scale(1.1);
    background-color: #ff99cc;
}

.gift-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gift {
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s;
}

.gift:hover {
    transform: scale(1.2);
}

.cute-message {
    font-size: 20px;
    color: #ff66b2;
    margin-bottom: 20px;
}

.images img {
    width: 150px;
    margin: 10px;
    border-radius: 10px;
}


.gandalf-mode {
    background-color: black !important;
    color: white !important;
    filter: grayscale(100%);
}

.gandalf-mode h1 {
    text-shadow: none !important;
    font-size: 40px;
}

.gandalf-mode img {
    width: 300px;
    border-radius: 0;
}


.mystery-btn {
    display: block;
    margin: 20px auto;
    font-size: 18px;
    background-color: #ff99cc;
    border: none;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 8px;
    transition: 0.3s;
}

.mystery-btn:hover {
    background-color: #ff66b2;
}


.hug-text {
    font-size: 24px;
    font-weight: bold;
    color: #ff66b2;
}


.other-options {
    font-size: 14px;
    color: #999;
}


